body { background-color: rgba(175, 50, 50, 0); font-family: "Inter", sans-serif; }
h1 { color: rgb(0, 0, 0); font-size: 1.5em; line-height: 1.5; margin-left: 2.5%; margin-top: 7%; margin-bottom: 2%; width: 40%; }
h2 { color: rgb(255, 0, 0); font-size: 0.8em; font-weight: normal; line-height: 1.5; margin-left: 30%; margin-top: 1%; margin-bottom: 5%; }
h3 { color: rgb(0, 0, 0); font-size: 1em; line-height: 1.5; margin-left: 2.5%; margin-bottom: 2.5%;  font-weight: 100; }
p { color: rgb(0, 0, 0); font-size: 1em; line-height: 1.5; text-indent: 5%; text-align: justify; margin-left: 10%; width: 50%; }
div { margin-left: 0%; margin-top: 2.5%; margin-bottom: 2.5%; }
a { color: rgb(0, 0, 0); font-size: 1em; line-height: 2.5; text-decoration-line: overline; margin-left: 2.5%; margin-right: 2.5%; }
a:hover { text-decoration: line-through; }